fastapi==0.110.0
uvicorn==0.28.0
langchain==0.1.13
langchain-core==0.1.33
langchain-community==0.0.29
langchain-groq==0.1.1
SQLAlchemy==2.0.28
PyMySQL==1.1.0
cryptography==42.0.5
python-dotenv==1.0.1
pydantic==2.6.4
requests==2.31.0